.clearfix,.container-fluid,.container,.form-group,.panel{ *clear:both; *zoom:1;}
.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.form-group:after,.form-group:before,.panel:after,.panel:before{ display:table;content:" ";}
.clearfix:after,.container-fluid:after,.container:after,.form-group:after,.panel:after{clear:both;}
/* container */
.container {
	margin-right: auto;
	margin-left: auto;
    width: 1200px;
    padding-right: 0;
    padding-left: 0;
}
.container h2{
    margin-top:0;
}
.row h3, h4, h5, h6{
    margin-top:10px;
}
/* header */
.header{  background-color: #fff; box-shadow: 0 1px 3px rgba(0,0,0,.08); }	
.header input{font-size:14px;}
.header .active{background: #ce5656;}
.navbar-header{ height: 66px; padding: 15px 0; }
.navbar-header .container{ position: relative; }	

/* navbar-brand */
.navbar-brand{ float: left; height: 36px; }
.navbar-brand img{ display: block; height: 36px; }
	
   
/* navbar-account */
.navbar-goback{ display: none; }
.navbar-history .history-toggle{ display: none; }
.navbar-history{ float: right; margin-left: 10px; }
.navbar-history > a{ 
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-indent: 1px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
    color: #fa6567;
}
    .navbar-history > .dropdown-menu{ right: 0; width: 250px; padding-bottom: 5px; z-index: 999; }
    .navbar-history p{ border-top: 1px solid #f5f5f5; padding: 7px 0 2px 0; }
    .history-heading{ height: 40px; line-height: 40px; padding: 0 10px 0 15px; border-bottom: 1px solid #f5f5f5; }
    .history-heading > h5{ float: left; color: #666; }
    .history-heading > a{ float: right; color: #666; margin-left: 10px; }
    .history-heading > a:hover{ color: #fa6567; }
    .history-list{}
    .history-list > li{ position: relative; padding: 0 15px; line-height: 38px; color: #999; overflow: hidden; text-overflow: ellipsis; word-wrap: normal; white-space: nowrap; }
    .history-list > li + li{ border-top: 1px solid #f0f0f0; }

/* navbar-search */
.navbar-search{
    float: right;
    position: relative;
    width: 400px;
    height: 36px;
    border: 1px solid #fa6567;
    border-radius: 36px;
}
    .panel .navbar-search{ float: none; width: auto; margin: 5px; }
    /* search-control */
    .navbar-search > .search-control{
        position: absolute;
        top: 0;
        left: 0;
        color: #181818;
        width: 100%;
        height: 34px;
        line-height: 20px;
        padding: 7px 20px;
        border: 0 none;
        background-color: transparent;
        border-radius: 100px;
    }

    /* search-button */
    .navbar-search > .search-button{			
        position: absolute;
        top: -1px;
        right: -1px;	
        width: 80px;
        height: 36px;
        line-height: 34px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        border: 0 none;
        background-color: #fa6567;
        border-radius: 0 36px 36px 0;
    }
    .navbar-search > .search-button:hover{ background-color: #ff5b57; }	

/* search-hotkey */
.search-hotkey{ padding: 5px 5px 0 5px; }
.search-hotkey h5{ font-weight: 700; margin-bottom: 10px; }
.search-hotkey a{ margin: 0 10px 10px 0; }

/* autocomplete-suggestions */
.autocomplete-suggestions{
    font-size: 14px;
    border: 1px solid;      
    border-color: #ddd; 
    border-color: rgba(255,255,255,0);  
	overflow: hidden;
	padding: 3px 0;
    background-color: #fff;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
	border-radius: 3px;	
}
	.autocomplete-suggestion{ padding: 6px 10px; white-space: nowrap; overflow: hidden; cursor: pointer; }
	.autocomplete-suggestion strong{ color: #fa6567; }
	.autocomplete-suggestion:hover,
	.autocomplete-suggestion:active{ background-color: #f5f5f5; }


 /* navbar-primary */
.navbar-primary{ 
    height: 50px; 
    font-size: 16px;
    color: #fff;
    background-color: #fa6567;
}
	.navbar-nav > li{ float: left; position: relative; line-height: 45px; padding: 0 5px; }
	.navbar-nav > li + li:before{
		/*content: "·";*/
		position: absolute;
		top: 0;
		left: 0;
		font-size: 16px;
		opacity: .5;
		filter: alpha(opacity=50);
	}
	.navbar-nav > li > a{   
        position: relative;
        display: block;	
		height: 45px;
        line-height: 44px;
		text-align: center;  
        padding: 0 30px;
        color: #222;
        transition: .3s;
	}	
    /*.navbar-nav > li:first-child > a{ padding-left: 0; }	*/
    /*.navbar-nav > li > a:hover{ color: #fa6567; font-weight: 700; }*/
    .navbar-nav > li.active > a,
	.navbar-nav > li.active > a:hover{ font-weight: 700; color: #fa6567; }
    .navbar-nav > li.movie{ width: 60px; color: #666; }  
    .navbar-nav > li.movie + li:before{ display: none; }  
    .navbar-primary .navbar-nav > li > a,
    .navbar-primary .navbar-nav > li > a:hover{ color: #fff; height: 50px; line-height: 50px; }        
    .navbar-primary .navbar-nav > li.active > a,
	.navbar-primary .navbar-nav > li.active > a:hover{ color: #fff; }       
    .navbar-primary .navbar-nav > li.active > a::after{
        content: "";
        position: absolute;
        left: 50%; 
        margin-left: -6px;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 6px solid;
        border-left: 6px dashed transparent;
        border-right: 6px dashed transparent;
    }        
    .navbar-primary .navbar-nav > li.active > a::after{ margin: 0; left: 9px; }
    /* footer */
.footer{
	padding: 20px 0;
	line-height: 24px;
	color: #999;
	text-align: center;
	background-color: #333;
	font-size: 14px;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}	
/* footer */
.footer a{ color: #999; }
.footer a:hover{ color:#fa6567; }
.footer p{margin: 0;}
.copyright {
        padding-top: 0;
     color: #999; 
     text-align: center; 
     text-transform: none; 
     line-height: 24px; 
}
.copyright a {
    color: #999;
    font-size: 14px;
}
/* backtop */	
.backtop{
	position:fixed;
	right: 0;
	bottom: 20px;
	display: none;
	z-index: 9999;
}
.backtop .iconfont{
	width: 50px;
	height: 50px;
	line-height: 50px;
	display: block;
	overflow: hidden;
	text-align: center;
	font-size: 26px;
	color: #fff;
	background-color: rgba(0,0,0,.5);
}
.backtop:hover .iconfont{
	background-color: #fa6567;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.autocomplete-suggestions {
    font-size: 14px;
    border: 1px solid;
    border-color: #ddd;
    border-color: rgba(255,255,255,0);
    overflow: hidden;
    padding: 3px 0;
    background-color: #fff;
    box-shadow: 0 3px 15px rgb(0 0 0 / 20%);
    border-radius: 3px;
}
.autocomplete-suggestions {
    padding: 0 10px;
    margin-top: 5px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px rgb(0 0 0 / 5%);
}
    @media (min-width: 768px) and (max-width: 1024px) {
	.container{ width: 960px;}
	.navbar-primary{}
	.navbar-nav > li{ }
	.navbar-nav > li > a{ padding: 0 17px; }
    .navbar-primary .navbar-nav > li > a{ padding: 0 18px; }
    .navbar-primary .navbar-nav > li:first-child > a{ padding-left: 0; }
	.panel-main{ width: 720px; }
	.panel-aside{ width: 180px; }
	.panel-main .thumbnail-group > li:nth-child(n+5){ display: none; }
	.thumbnail-group > li{ width: 165px; } 
	.thumbnail-group > li > .thumbnail,
	.thumbnail-group > li > .thumbnail img{ width: 165px; height: 222px; } 	
	.thumbnail-group-small > li > .thumbnail,
	.thumbnail-group-small > li > .thumbnail img{ width: 165px; height: 95px; } 
	.thumbnail-group-special > li{ width: 215px; }
	.thumbnail-group-special > li > .thumbnail,
	.thumbnail-group-special > li > .thumbnail img{ width: 215px; height: 110px; }    
	.panel-max{ padding: 0; }    
	.panel-max .thumbnail-group > li{ width: 168px; } 
	.panel-max .thumbnail-group > li > .thumbnail,
	.panel-max .thumbnail-group > li > .thumbnail img{ width: 168px; height: 225px; } 	
	.rank-group > li{ line-height: 32px; }
	.rank-group > li .rank-num{ margin-top: 7px;}
	.filter-primary{ font-size: 15px;}
	.filter-primary dd{ padding: 0 5px; }
	.filter-append dd{ width: 55px; }
	.category dd > a{ padding: 0 13px; margin-right: 8px; }	
	.detail-play-list li{ width: 12.5%; }
	.detail-hot .thumbnail-group > li:nth-child(n+6){ display: none; }
	.detail-source{ width: 650px; }
	.play .player{ height: 520px; }
	.news-main { width: 640px; }
	.news-aside{ width: 300px; }
	.special-intro-text h2{ font-size: 30px; margin-bottom: 10px; line-height: 1.2; }
	.special-intro-text p{ line-height: 1.8; font-size: 14px; max-height: 100px; }
	.latest-primary .thumbnail-group > li:nth-child(n+6){ display: none; }
	.latest-primary .thumbnail-group > li{ width: 168px; } 
	.latest-primary .thumbnail-group > li > .thumbnail,
	.latest-primary .thumbnail-group > li > .thumbnail img{ width: 168px; height: 225px; } 	
    .latest-primary .list-group > li{ line-height: 24px; font-size: 13px;}
    .latest-listing .thumbnail-group > li:nth-child(n+11){ display: none; }
}

    @media (max-width: 767px) {
    .content{ padding-top: 44px; }
	.container{ width: auto;}
	.header{ 
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        height: 44px; 
        z-index: 999;
    }    
    .navbar-header{ height: 44px; padding: 0; }
	.navbar .container{ height: auto; }
	.navbar-brand{ height: 44px; padding: 10px 0 0 10px; }
    .navbar-brand img{ height: 30px; }
	.navbar-toggle .iconfont-history{ font-size: 18px; }
	.navbar-toggle{
		float: right;
		width: 40px;
		height: 44px;
		line-height: 44px;
		text-align: center;
		overflow: hidden;
		font-size: 16px;
		background-color: transparent;
		border-radius: 3px;
	}    
    .navbar{ display: none; }
    .navbar.in{ display: block; }
    .navbar{ background-color: #fff; box-shadow: 0 1px 2px rgba(0,0,0,.1); }
	.navbar-subnav,
	.navbar-primary{  height: auto; padding: 5px 0; }
    .navbar-nav > li.movie{ display: none;}
    .navbar-nav > li{ width: 25%;}
	.navbar-nav > li + li:before { display: none; }
	.navbar-nav > li > a:after{ display: none; }
	.navbar-nav > li > a{ width: auto; height: 35px!important; line-height: 35px!important; font-size: 14px; padding: 0; }	
	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:active,
	.navbar-nav > li.active > a,
	.navbar-nav > li.active > a:hover,
	.navbar-nav > li.active > a:active{ color: #fa6567; background-color: #fff; border-radius: 3px;}  
    .navbar-primary .navbar-nav > li > a:hover,
	.navbar-primary .navbar-nav > li > a:active,
    .navbar-primary .navbar-nav > li.active > a,
	.navbar-primary .navbar-nav > li.active > a:hover,
	.navbar-primary .navbar-nav > li.active > a:active{ color: #fa6567;} 
	
    .navbar-history > .dropdown-menu{ top: 44px; right: 0; width: 100%; }
    .backtop .iconfont {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    background-color: #fa6567;
        
    }
    }