@charset "utf-8";
a, button, img, input, textarea {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%
}

body {
    margin: 0;
    padding: 0;
    background-position: top;
    background-attachment: fixed;
    font-size: 14px;
    font-family: t, arial, verdana, microsoft yahei
}

button, input, textarea {
    font-family: microsoft yahei;
    -webkit-appearance: none
}

::selection {
    background: #fa6567;
    color: #fff
}

::-moz-selection {
    background: #fa6567;
    color: #fff
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}

a {
    color: #333;
    text-decoration: none
}

a:hover {
    color: #fa6567
}

a:hover, a:visited {
    text-decoration: none;
    -webkit-transition: background-color .15s linear, color .15s linear;
    -moz-transition: background-color .15s linear, color .15s linear;
    -o-transition: background-color .15s linear, color .15s linear;
    transition: background-color .15s linear, color .15s linear;
    -ms-transition: background-color .15s linear, color .15s linear
}

i {
    display: inline-block;
    vertical-align: top;
    font-style: normal;
    font-family: iconfont, microsoft yahei
}

ol, ul {
    list-style-type: none
}

img {
    height: auto;
    max-width: 100%;
    border: 0;
    -webkit-transition: -webkit-transform .3s ease 0s;
    transition: transform .3s ease 0s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: iconfont;
    src: url(../fonts/iconfont.eot);
    src: url(../fonts/iconfont.eot#iefix) format("embedded-opentype"),
    /*url(../fonts/iconfont.woff2) format("woff2"),*/
    url(../fonts/iconfont.woff) format("woff"), 
    url(../fonts/iconfont.ttf) format("truetype"), 
    url(../fonts/iconfont.svg#iconfont) format("svg")
}

.clear {
    clear: both
}

.notunderline:hover {
    text-decoration: none
}

.shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .08)
}

.icoqq:before {
    content: "\e60f"
}

.icoqq:before, .icoweibo:before {
    vertical-align: top;
    font-family: iconfont
}

.icoweibo:before {
    content: "\e612"
}

.icoweibo:hover {
    color: #e6162d
}

.icoweixin:before {
    content: "\e610";
    vertical-align: top;
    font-size: 14px;
    font-family: iconfont
}

.icoweixin:hover {
    color: #00d500
}

.icot:before {
    content: "\e600";
    vertical-align: top;
    font-family: iconfont
}

.icot:hover {
    color: #12b7f5
}

.icoqzone:before {
    content: "\e63f";
    vertical-align: top;
    font-family: iconfont
}

.icoqzone:hover {
    color: #ffce00
}

.icofeed:before {
    content: "\e7b9";
    vertical-align: top;
    font-family: iconfont
}

.icofeed:hover {
    color: #fa6567
}

.icophone:before {
    margin-right: 3px;
    content: "\e825";
    font-size: 16px
}

.icoedit:before, .icophone:before {
    vertical-align: top;
    font-family: iconfont
}

.icoedit:before {
    content: "\e61f"
}

.icoprev:before {
    content: "\e6db"
}

.iconext:before, .icoprev:before {
    vertical-align: top;
    font-family: iconfont
}

.iconext:before {
    content: "\e6a4"
}

.icoh:before {
    content: "\e6be"
}

.icoh:before, .icoshare:before {
    vertical-align: top;
    font-size: 18px;
    font-family: iconfont
}

.icoshare:before {
    content: "\e63b"
}

.icohome:before {
    content: "\e749"
}

.icohome:before, .icosign:before {
    vertical-align: top;
    font-family: iconfont
}

.icosign:before {
    content: "\e607"
}

.icodate:before {
    content: "\e69d"
}

.icodate:before, .icoviews:before {
    vertical-align: top;
    font-family: iconfont
}

.icoviews:before {
    content: "\e6a5"
}

.icocmtnum:before {
    content: "\e6a6"
}

.icocmtnum:before, .icoplay:before {
    vertical-align: top;
    font-family: iconfont
}

.icoplay:before {
    margin-right: 5px;
    content: "\e801"
}

.wrapper {
    overflow: hidden;
    width: 100%;
    background: #fff
}

.wrap {
    position: relative;
    clear: both;
    margin: 0 auto;
    width: 1200px;
    zoom: 1
}

.wrap:after {
    clear: both;
    display: block;
    content: ""
}

.wrapname {
    position: relative;
    overflow: hidden
}

.wrapline {
    margin: 30px 0;
    border-top: 1px solid #ddd
}

.wraptitle {
    position: absolute;
    top: 14px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 30px;
    background: #fff;
    text-align: center;
    font-size: 20px
}

.header {
    position: relative;
    z-index: 1000;
    background: #fff
}

.head, .logo {
    height: 80px
}

.logo {
    float: left;
    display: inline;
    display: table;
    overflow: hidden;
    margin-right: 20px
}

.logo a {
    display: table-cell;
    vertical-align: middle
}

.logo img {
    max-width: 200px;
    max-height: 80px
}

.sublogo {
    float: left;
    display: inline;
    display: table;
    overflow: hidden;
    width: 200px;
    height: 80px
}

.sublogo a {
    display: table-cell;
    vertical-align: middle
}

.sublogo img {
    max-width: 200px;
    max-height: 80px
}

.sch {
    float: right;
    display: inline;
    margin-top: 20px;
    padding-left: 100px
}

.schico {
    position: absolute;
    top: 11px;
    right: 10px;
    float: left;
    display: inline;
    display: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer
}

.schico:after {
    display: inline-block;
    color: #333;
    content: "\e6e1";
    font-weight: 600;
    font-size: 28px;
    font-family: iconfont;
    transform: rotate(0)
}

.schico.close, .schico.close:after {
    transition: all .5s ease 0s
}

.schico.close:after {
    color: #333;
    content: "\e6aa";
    font-size: 28px;
    transform: rotate(45deg)
}

.sch form {
    position: relative;
    overflow: hidden
}

.schtext {
    padding: 0 10px;
    width: 400px;
    height: 38px;
    outline: 0;
    border: 1px solid #fa6567;
    color: #adadad;
    font-size: 14px;
    font-family: microsoft yahei;
    line-height: 30px
}

.schbtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 90px;
    height: 40px;
    outline: 0;
    border: 0;
    background: #fa6567;
    color: #fff;
    font-size: 16px;
    cursor: pointer
}

.schbtn.submit .schload {
    visibility: visible
}

.schbtn.submit .schlabel {
    display: none
}

.schload {
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    margin-top: -11px;
    margin-left: -11px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: hsla(0, 0%, 100%, .15) #fff #fff hsla(0, 0%, 100%, .15);
    border-style: solid;
    border-width: 2px;
    -webkit-animation: sqs-spin 1s linear infinite;
    -moz-animation: sqs-spin 1s infinite linear;
    -ms-animation: sqs-spin 1s infinite linear;
    -o-animation: sqs-spin 1s infinite linear;
    animation: sqs-spin 1s linear infinite
}

@-webkit-keyframes sqs-spin {
    0% {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(1turn)
    }
}

@-moz-keyframes sqs-spin {
    0% {
        -moz-transform: rotate(0)
    }
    to {
        -moz-transform: rotate(1turn)
    }
}

@-ms-keyframes sqs-spin {
    0% {
        -ms-transform: rotate(0)
    }
    to {
        -ms-transform: rotate(1turn)
    }
}

@-o-keyframes sqs-spin {
    0% {
        -o-transform: rotate(0)
    }
    to {
        -o-transform: rotate(1turn)
    }
}

@keyframes sqs-spin {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(1turn)
    }
}

.quick {
    position: relative;
    float: right;
    display: inline;
    line-height: 80px
}

.quick li {
    display: inline-block;
    padding-left: 20px;
    text-align: center
}

.quick li a {
    color: #666
}

.quick li a:hover {
    color: #fa6567
}

.quick li i.icoedit:before {
    font-size: 15px
}

.quick li i.icosign:before {
    font-size: 19px
}

.quick li span {
    font-size: 16px
}

.menu {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    vertical-align: top
}

.menu ul {
    font-size: 0
}

.menu ul.nosch {
    padding: 0
}

.menu li {
    position: relative;
    z-index: 10;
    display: inline-block;
    vertical-align: top;
    line-height: 48px
}

.menu li a {
    position: relative;
    display: block;
    margin-bottom: -1px;
    padding: 0 20px;
    border-bottom: 1px solid transparent;
    color: #333;
    text-decoration: none;
    font-size: 16px
}

.menu li a:hover {
    color: #fa6567
}

.menu li:before {
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 3px;
    background: #fa6567;
    content: "";
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.menu li.on:before, .menu li:hover:before {
    margin-left: -16px;
    width: 32px
}

.menu li.on a, .menu li:hover a {
    color: #fa6567
}

.menu li .subnav {
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 99;
    display: none;
    padding: 10px 0;
    min-width: 200px;
    border-top: 1px solid #fa6567;
    background: #fff;
    box-shadow: 0 2px 2px 0 #ddd;
    line-height: 40px;
    -webkit-animation: fadeInUp .2s ease 0s both;
    -moz-animation: fadeInUp .2s 0s ease both
}

.menu li .subnav a {
    display: block;
    overflow: hidden;
    padding: 0 40px 0 20px;
    border-bottom: 1px solid #f5f5f5;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px
}

.menu li .subnav a:after {
    position: absolute;
    top: 0;
    right: 15px;
    color: #ccc;
    content: "\e6a4";
    vertical-align: top;
    font-weight: 600;
    font-size: 16px;
    font-family: iconfont;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s
}

.menu li .subnav a.on, .menu li .subnav a:hover:after {
    color: #fa6567
}

.menu li .subnav a.on:after {
    opacity: 1
}

.menu li .subnav a:last-child {
    border: 0
}

.menu li .subnav:before {
    margin: -15px 0 0;
    border: 7px solid transparent;
    border-bottom-color: #fa6567
}

.menu li .subnav:after, .menu li .subnav:before {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 3;
    width: 0;
    height: 0;
    content: ""
}

.menu li .subnav:after {
    margin: -14px 0 0;
    border: 7px solid transparent;
    border-bottom-color: #fff
}

.menu li.subcate:hover a {
    color: #fa6567
}

.menu li.subcate:hover:before {
    display: none
}

.menu li.subcate:hover .subnav {
    display: block
}

.menu li.subcate:hover .subnav a.on, .menu li.subcate:hover .subnav a.on:after, .menu li.subcate:hover .subnav a:hover {
    color: #fa6567
}

.menu li.subcate .subnav a {
    color: #333
}

.menu li:after {
    position: absolute;
    top: 17px;
    right: 0;
    width: 1px;
    height: 16px;
    background: #eee;
    content: ""
}

.menu.on {
    position: absolute;
    top: 60px;
    z-index: 9;
    float: left;
    display: inline;
    display: block;
    margin: 0 -20px;
    padding: 10px 20px 0;
    width: 100%;
    border-top: 1px solid #eee;
    background: #fff
}

.menu.on li {
    float: none;
    width: 100%;
    border-bottom: 1px dotted #eee;
    line-height: 40px
}

.menu.on li, .menu.on li a {
    display: block
}

.menuico {
    position: relative;
    top: 7px;
    z-index: 10;
    float: right;
    display: none;
    width: 38px;
    height: 38px;
    border-radius: 2px;
    cursor: pointer
}

.menuico, .menuico span {
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in
}

.menuico span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 21px;
    height: 2px;
    background-color: #fa6567;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

.menuico span:first-child {
    margin-top: -6px
}

.menuico span:last-child {
    margin-top: 6px
}

.menuico.on span:first-child {
    margin-top: -8px;
    margin-left: -7px;
    width: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg)
}

.menuico.on span:nth-child(2) {
    left: 20px;
    width: 2px;
    opacity: 0;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s
}

.menuico.on span {
    background-color: #333;
    -webkit-transform-origin: 0;
    -moz-transform-origin: 0;
    transform-origin: 0
}

.menuico.on span:last-child {
    margin-top: 6px;
    margin-left: -7px;
    width: 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.fademask.on {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 21;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5)
}

.focus {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    width: 1400px;
    text-align: center
}

.focus.full {
    margin-top: -20px;
    width: 100%
}

.focus.full img {
    width: 100%
}

.focus a {
    display: block;
    text-align: center
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20px
}

.swiper-pagination-bullet {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 1
}

.swiper-pagination-bullet-active {
    border-color: #fa6567;
    background: #fa6567;
    opacity: 1
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 50%;
    margin-right: -660px
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 50%;
    margin-left: -660px
}

.swiper-button-next, .swiper-button-prev {
    opacity: .8
}

.main {
    padding: 20px 0;
    background: #f7f7f7
}

.sitemap {
    margin-bottom: 5px;
    line-height: 24px
}

.sitemap, .sitemap a {
    color: #888;
    font-size: 14px
}

.sitemap a:hover {
    color: #fa6567
}

.item {
    margin-bottom: 30px
}

.itemtitle {
    position: relative;
    margin-bottom: 20px;
    padding-left: 15px
}

.itemtitle:before {
    position: absolute;
    top: 6px;
    left: 0;
    width: 3px;
    height: 22px;
    background: #fa6567;
    content: ""
}

.itemtitle h3 {
    font-size: 24px
}

.itemcon {
    font-size: 0
}

.itemlist {
    display: inline-block;
    width: 1080px;
    vertical-align: top
}

.itemlist ul {
    margin-left: -20px
}

.itemlist li {
    display: inline-block;
    margin: 0 0 20px 20px;
    width: 200px;
    vertical-align: top;
    line-height: 22px
}

.itemlist li.itemfirst {
    float: left;
    width: 420px
}

.itemlist li.itemfirst .itemimg {
    height: auto
}

.itemlist li.itemfirst .itemimg a {
    padding-bottom: 84.3%
}

.itemlist li.itemfirst .itemimg img {
    min-height: 354px
}

.itemimg {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    background: #ddd url(../img/noimg.png) no-repeat 50% 50%;
    background-size: cover
}

.itemimg a {
    display: block;
    padding-bottom: 70%;
    width: 100%;
    height: 0
}

.itemimg img {
    position: absolute;
    z-index: 1;
    width: 100%;
    min-height: 100%
}

.itemname a {
    display: block
}

.iteminfo, .itemname a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px
}

.iteminfo {
    min-height: 22px;
    color: #999;
    line-height: 22px
}

.itemtop {
    display: inline-block;
    margin-left: 20px;
    width: 296px;
    vertical-align: top
}

.itemtoplist li {
    clear: both;
    margin-bottom: 14px;
    width: 100%;
    zoom: 1
}

.itemtoplist li:after {
    clear: both;
    display: block;
    content: ""
}

.itemtoplist li:last-child {
    margin: 0
}

.itemtopimg {
    position: relative;
    float: left;
    display: inline;
    overflow: hidden;
    width: 100px;
    background: #ddd url(../img/noimg.png) no-repeat 50% 50%;
    background-size: cover
}

.itemtopimg a {
    display: block;
    padding-bottom: 70%;
    width: 100%;
    height: 0
}

.itemtopimg img {
    position: absolute;
    width: 100%;
    min-height: 100%
}

.itemtopimg .zoomimg {
    line-height: 42px
}

.itemtopimg .zoomimg:after, .itemtopimg .zoomimg:before {
    margin: -21px 0 0 -21px;
    width: 42px;
    height: 42px;
    font-size: 42px;
    line-height: 42px
}

.itemtopinfo {
    padding-left: 110px;
    font-size: 14px;
    line-height: 22px
}

.itemtopinfo span {
    color: #999
}

.itemtopname {
    overflow: hidden;
    margin-bottom: 5px;
    max-height: 40px;
    font-size: 14px
}

.itemone .itemtopimg .zoomimg {
    line-height: 42px
}

.itemone .itemtopimg .zoomimg:after, .itemone .itemtopimg .zoomimg:before {
    margin: -21px 0 0 -21px;
    width: 42px;
    height: 42px;
    font-size: 42px;
    line-height: 42px
}

.itemtwo .itemimg a {
    padding-bottom: 132%
}

.continu {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 3px 9px;
    border-radius: 10px 0 5px 0;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 12px;
    line-height: 20px
}

.itemtwo .itemtopimg {
    display: none;
    width: 100%
}

.itemtwo .itemtopimg a {
    padding-bottom: 70%
}

.itemtwo .itemtopimg img {
    position: absolute;
    width: 100%;
    min-height: 100%
}

.itemtwo .itemtopimg .zoomimg {
    line-height: 68px
}

.itemtwo .itemtopimg .zoomimg:after, .itemtwo .itemtopimg .zoomimg:before {
    margin: -34px 0 0 -34px;
    width: 68px;
    height: 68px;
    font-size: 68px;
    line-height: 70px
}

.itemtwo .itemtopname {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.itemtwo .itemtopname a {
    display: block
}

.itemtwo .itemtopname .listtype {
    float: left;
    display: inline;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    border-radius: 2px;
    background: #eee;
    color: #666;
    text-align: center;
    font-size: 14px
}

.itemtwo .itemtopname .listtype.top {
    background: #fa6567;
    color: #fff
}

.itemtwo .itemtopnametxt {
    float: left;
    display: inline;
    overflow: hidden;
    width: 185px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.itemtwo .itemtopname i {
    float: right;
    display: inline;
    padding-right: 10px;
    color: #999;
    font-family: arial
}

.itemtwo .itemtoplist li {
    position: relative;
    margin-bottom: 0;
    padding: 14px 0;
    border-bottom: 1px solid #eee;
    line-height: 20px
}

.itemtwo .itemtoplist li:first-child .listtype, .itemtwo .itemtoplist li:nth-child(2) .listtype, .itemtwo .itemtoplist li:nth-child(3) .listtype {
    background: #fa6567;
    color: #fff
}

.itemtwo .itemtoplist li.on {
    margin-bottom: 5px;
    padding: 0
}

.itemtwo .itemtoplist li.on .itemtopimg {
    display: block
}

.itemtwo .itemtoplist li.on .itemtopname {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    margin: 0;
    width: 100%;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(hsla(0, 0%, 88.2%, 0)), to(rgba(0, 0, 0, .8)));
    background-image: -moz-linear-gradient(top, hsla(0, 0%, 88.2%, 0), rgba(0, 0, 0, .8));
    background-image: linear-gradient(180deg, hsla(0, 0%, 88.2%, 0), rgba(0, 0, 0, .8));
    color: #fff;
    line-height: 30px
}

.itemtwo .itemtoplist li.on .itemtopname a {
    color: #fff
}

.itemtwo .itemtoplist li.on .itemtopname .listtype {
    width: 30px;
    border-radius: 0;
    background: #fa6567;
    color: #fff
}

.itemtwo .itemtoplist li.on .itemtopname i {
    color: #fff
}

.catetitle {
    position: relative;
    margin-bottom: 20px;
    padding-left: 15px;
    color: #333
}

.catetitle:before {
    position: absolute;
    top: 6px;
    left: 0;
    width: 3px;
    height: 22px;
    background: #fa6567;
    content: ""
}

.catetitle h3 {
    font-size: 24px
}

.catecon {
    font-size: 0
}

.catecon ul {
    margin-left: -1%
}

.catecon li {
    display: inline-block;
    margin: 0 0 1% 1%;
    width: 15.66%;
    vertical-align: top;
    line-height: 22px
}

.catecon.movielist .cateimg {
    position: relative;
    padding-bottom: 135%;
    height: 0
}

.catecon.movielist .cateimg img {
    position: absolute;
    min-height: 100%
}

.cateimg {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 70%;
    height: 0;
    background: #ddd url(../img/noimg.png) no-repeat 50% 50%;
    background-size: cover
}

.cateimg .istop {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    background: #fa6567;
    color: #fff;
    font-size: 15px;
    line-height: 30px
}

.cateimg img {
    position: absolute;
    width: 100%;
    min-height: 100%
}

.catename {
    margin-bottom: 5px;
    color: #333;
    font-size: 16px
}

.cateinfo, .catename {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.cateinfo {
    color: #999;
    font-size: 12px
}

.cateinfo span {
    margin-right: 20px
}

.cateinfo a {
    color: #999;
    font-size: 12px
}

.categoryimg, .categorymobileimg {
    text-align: center
}

.categorymobileimg {
    display: none
}

.playico:hover {
    transition: all .5s ease 0s
}

.playico:hover .zoomimg {
    background: rgba(0, 0, 0, .5)
}

.playico:hover .zoomimg:before {
    opacity: 1
}

.playico:hover .zoomimg:after {
    opacity: 1;
    transform: rotate(210deg)
}

.zoomimg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: transparent;
    text-align: center;
    line-height: 68px;
    transition: all .5s ease 0s
}

.zoomimg:before {
    content: "\e602";
    line-height: 70px
}

.zoomimg:after, .zoomimg:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    margin: -34px 0 0 -34px;
    width: 68px;
    height: 68px;
    color: #fff;
    text-align: center;
    font-size: 68px;
    font-family: iconfont;
    opacity: 0;
    transition: all .5s ease 0s
}

.zoomimg:after {
    background: url(../fonts/playborder.svg) no-repeat;
    content: "";
    line-height: 68px;
    transform: rotate(90deg)
}

.playtop {
    padding: 20px;
    background: #fff
}

.playviews {
    display: inline-block;
    padding: 0 20px;
    color: #999;
    font-size: 16px
}

.playviews:before {
    margin-right: 5px;
    content: "\e801";
    vertical-align: top;
    font-size: 16px;
    font-family: iconfont
}

.playtitle {
    display: inline-block
}

.playtitle h2 {
    color: #fa6567;
    font-size: 18px
}

.playtitle h2 span.catetag {
    margin-right: 10px
}

.playtitle h2 span.catetag a {
    display: inline-block;
    padding: 0 10px;
    background: #fa6567;
    color: #fff;
    vertical-align: top;
    font-size: 15px;
    line-height: 24px
}

.playbox {
    clear: both;
    background: #202020;
    zoom: 1
}

.playbox:after {
    clear: both;
    display: block;
    content: ""
}

.playbox .player {
    position: relative;
    z-index: 999;
    float: left;
    display: inline;
    overflow: hidden;
    width: 1080px
}

.playbox .player #a1, .playbox .player #dplayer, .playbox .player .unplayer {
    display: block;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
    background: #111
}

.playbox .player #a1 embed, .playbox .player #a1 iframe, .playbox .player #a1 object, .playbox .player #a1 video, .playbox .player #dplayer embed, .playbox .player #dplayer iframe, .playbox .player #dplayer object, .playbox .player #dplayer video, .playbox .player .unplayer embed, .playbox .player .unplayer iframe, .playbox .player .unplayer object, .playbox .player .unplayer video {
    position: absolute;
    display: block;
    width: 100%;
    min-height: 100%
}

.playbox .player.fixed {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 9;
    margin-left: 380px;
    padding: 0;
    width: 320px;
    height: 180px
}

.playbox .player.fixed .off {
    display: block
}

.playbox .player.fixed .off:before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    width: 22px;
    height: 22px;
    border: 3px solid #ccc;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    content: "\e6ab";
    text-align: center;
    font-weight: 600;
    font-size: 21px;
    font-family: iconfont;
    line-height: 24px;
    cursor: pointer
}

.playbox .player.fixed .off:hover:before {
    border-color: #fa6567;
    background: #fff;
    color: #fa6567
}

.playbox .player .off {
    display: none
}

.playbox .player.fade, .playlist {
    position: relative
}

.playlist {
    float: right;
    display: inline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 320px;
    height: 608px;
    -webkit-box-orient: vertical;
    -webkit-box-pack: start;
    -ms-flex-direction: column;
    -ms-flex-align: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    flex-direction: column
}

.playlisttitle {
    line-height: 30px
}

.playlisttitle h3 {
    display: inline-block;
    padding: 0 24px;
    background: #3d3d3d;
    color: #999;
    font-size: 14px
}

.playlist ul {
    display: block;
    padding: 10px 0
}

.playlist li {
    position: relative;
    clear: both;
    padding: 8px 20px;
    zoom: 1
}

.playlist li:after {
    clear: both;
    display: block;
    content: ""
}

.playlist li.active, .playlist li.on {
    background: #333
}

.playlist li a {
    color: #999
}

.playscroll {
    position: relative;
    overflow-y: scroll
}

.playscroll::-webkit-scrollbar {
    width: 8px
}

.playscroll::-webkit-scrollbar-track {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #222
}

.playscroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #555 url(../img/scrollbar.png) no-repeat 50%
}

.playscroll::-webkit-scrollbar-thumb:vertical:hover {
    background-color: hsla(0, 0%, 100%, .3)
}

.playscroll::-webkit-scrollbar-thumb:vertical:active {
    background-color: hsla(0, 0%, 100%, .4)
}

.playscroll dl {
    margin-left: -5px;
    padding: 0 20px 5px;
    list-style: none;
    font-size: 0
}

.playscroll dl li {
    display: inline-block;
    margin: 0 0 5px 5px;
    vertical-align: top;
    text-align: center
}

.playscroll dl li a {
    display: inline-block;
    padding: 0 5px;
    height: 41px;
    min-width: 31px;
    border-radius: 2px;
    background: #252525;
    color: #aaa;
    font-size: 16px;
    line-height: 41px
}

.playscroll dl li a:hover {
    background: #333;
    color: #ff6f00
}

.playimg {
    position: relative;
    float: left;
    display: inline;
    overflow: hidden;
    width: 100px;
    height: 70px;
    background: #ddd url(../img/noimg.png) no-repeat 50% 50%;
    background-size: cover
}

.playimg img {
    position: absolute;
    width: 100%;
    min-height: 100%
}

.playinfo {
    padding-left: 110px;
    color: #666;
    line-height: 20px
}

.playname {
    overflow: hidden;
    margin-bottom: 10px;
    max-height: 40px;
    color: #999
}

.playlink {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%
}

.playshare {
    margin-bottom: 20px;
    background: #fff;
    line-height: 40px
}

.dplayer-video-wrap {
    position: absolute
}

.dplayer-logo {
    max-width: 120px !important
}

.dplayer-web-fullscreen-fix .playbox .player #dplayer {
    padding: 0 !important;
    height: 100% !important
}

.episodeslist {
    margin: 20px 20px 0;
    background: #202020
}

.episodeslist.fixed {
    position: fixed;
    z-index: 99
}

.episodeslist h1 {
    margin-bottom: 5px;
    color: #fff;
    font-size: 20px;
    line-height: 28px
}

.episodeslist p {
    margin-bottom: 10px;
    color: #666;
    font-size: 13px;
    line-height: 22px
}

.episodeslist p .icoviews {
    display: inline-block
}

.episodeslist p .icoviews:before {
    font-size: 21px
}

.episodeslist dl {
    position: relative;
    display: none;
    padding-bottom: 10px;
    list-style: none
}

.episodeslist dl dd {
    display: inline-block;
    vertical-align: top;
    text-align: center
}

.episodeslist dl dd a {
    display: inline-block;
    padding: 0 3px;
    height: 36px;
    min-width: 30px;
    border-radius: 2px;
    color: #aaa;
    font-size: 18px;
    line-height: 36px
}

.episodeslist dl dd a:hover {
    background: #333;
    color: #ff6f00
}

.episodeslist dl dd.return {
    position: absolute;
    right: 0;
    line-height: 36px;
    cursor: pointer
}

.episodeslist dl dd.return:before {
    color: #fff;
    content: "\e69b";
    font-size: 22px;
    font-family: iconfont
}

.episodeslist.show dl {
    display: block
}

.single {
    clear: both;
    zoom: 1
}

.single:after {
    clear: both;
    display: block;
    content: ""
}

.singlebox {
    margin-bottom: 20px;
    padding: 20px 20px 10px;
    background: #fff
}

.singletitle {
    margin-bottom: 20px;
    border-bottom: 2px solid #eee
}

.singletitle h3 {
    font-size: 18px;
    line-height: 30px
}

.articlename {
    margin: 10px 0
}

.articlename h1 {
    text-align: center;
    font-size: 28px
}

.articleinfo {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #eee;
    text-align: center;
    line-height: 24px
}

.articleinfo span {
    margin-right: 10px;
    color: #999;
    font-size: 14px
}

.articleinfo span:before {
    font-size: 18px
}

.articlecon {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 2
}

.articlecon p {
    margin-bottom: 10px;
    color: #575757
}

.paging {
    overflow: hidden;
    margin: 0 0 10px;
    padding: 10px 0 0;
    border-top: 1px solid #eee
}

.paging .prepage {
    float: left;
    width: 50%
}

.paging .nextpage {
    float: right;
    width: 50%;
    text-align: right
}

.paging span {
    color: #929292
}

.paging p a {
    display: block;
    overflow: hidden;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px
}

.paging p a:hover {
    color: #fa6567;
    text-decoration: underline
}

.content {
    float: left;
    display: inline;
    width: 1060px
}

.related {
    margin-left: -1%;
    font-size: 0
}

.related li {
    display: inline-block;
    margin: 0 0 20px 1%;
    width: 15.66%;
    vertical-align: top
}

.relatedimg, .related li {
    position: relative;
    overflow: hidden
}

.relatedimg {
    margin-bottom: 8px;
    width: 100%;
    background: #ddd url(../img/noimg.png) no-repeat 50% 50%;
    background-size: cover
}

.relatedimg a {
    display: block;
    padding-bottom: 70%;
    width: 100%;
    height: 0
}

.relatedimg img {
    position: absolute;
    width: 100%;
    min-height: 100%
}

.relatedimg .zoomimg {
    line-height: 68px
}

.relatedimg .zoomimg:after, .relatedimg .zoomimg:before {
    margin: -34px 0 0 -34px;
    width: 68px;
    height: 68px;
    font-size: 68px;
    line-height: 70px
}

.relatedinfo {
    font-size: 14px;
    line-height: 22px
}

.relatedinfo h3 a {
    display: block;
    font-size: 14px
}

.relatedinfo h3 a, .relatedinfo p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.relatedinfo p {
    color: #999;
    font-size: 12px
}

.related.movieimg .relatedimg a {
    padding-bottom: 132%
}

.sidebar {
    float: right;
    display: inline;
    width: 320px
}

.sidebox {
    margin-bottom: 20px;
    padding: 15px 20px;
    background: #fff
}

.sidetitle {
    border-bottom: 2px solid #eee
}

.sidetitle h3 {
    display: inline-block;
    margin-bottom: -2px;
    padding: 10px 0;
    border-bottom: 2px solid #fa6567;
    color: #fa6567;
    font-size: 16px;
    line-height: 14px
}

.sidecon {
    clear: both;
    overflow: hidden;
    padding: 15px 0 0;
    color: #666;
    zoom: 1
}

.sidecon:after {
    clear: both;
    display: block;
    content: ""
}

.sidecon li {
    border-bottom: 1px dotted #eee;
    line-height: 40px
}

.sidecon li a {
    color: #333
}

.sidecon li a:hover {
    color: #fa6567
}

.sidecon li.btn {
    margin-top: 10px;
    border: 0
}

.sidecon li.btn a {
    display: block;
    background: #fa6567;
    color: #fff;
    text-align: center;
    font-size: 16px
}

.sidecon li.border {
    margin-top: 10px;
    border: 1px solid #eee
}

.sidecon li.border, .sidecon li.border a {
    background: #fff;
    color: #fa6567;
    text-align: center;
    font-size: 16px
}

.sidecon li.border a {
    display: block
}

.sidecon li.subname {
    border: 0;
    text-align: center;
    line-height: 24px
}

.sidecon p {
    line-height: 24px
}

.sidecon p img {
    margin-bottom: 10px
}

#divCalendar table {
    width: 100%;
    table-layout: fixed
}

#divCalendar caption {
    margin: 0 0 10px;
    padding: 0;
    height: 24px;
    border-bottom: 1px dotted #eee;
    text-align: center;
    font-size: 16px
}

#divCalendar caption a {
    padding: 0 10px;
    font-size: 14px
}

#divCalendar th {
    height: 25px;
    border: 1px solid #fa6567;
    border-radius: 2px;
    background: #fa6567;
    color: #fff;
    text-transform: uppercase;
    line-height: 25px
}

#divCalendar td {
    height: 25px;
    border: 1px solid #efefef;
    background: #fff;
    text-align: center;
    line-height: 25px
}

#divCalendar td.pad {
    border: none
}

#divCalendar td a {
    display: block;
    background: #5eaae4;
    color: #fff;
    line-height: 30px
}

#today {
    font-weight: 700
}

#divSearchPanel input[type=text] {
    display: inline-block;
    width: 70%;
    height: 27px;
    outline: 0;
    border: 1px solid #fa6567;
    background: #fff;
    font-family: 微软雅黑
}

#divSearchPanel input[type=submit] {
    display: inline-block;
    width: 25%;
    height: 31px;
    border: 1px solid #fa6567;
    background: #fa6567;
    color: #fff;
    vertical-align: top;
    line-height: 29px
}

#divArchives li, #divAuthors li, #divCatalog li, #divFavorites li, #divLinkage li, #divNavBar li {
    float: left;
    overflow: hidden;
    width: 50%;
    background: 0 0;
    text-overflow: ellipsis;
    white-space: nowrap
}

.sidebar #divMisc li {
    width: 50%;
    text-indent: 0
}

#divTags ul li, .sidebar #divMisc li {
    float: left;
    padding: 0;
    border: 0;
    background: 0 0
}

#divTags ul li {
    margin: 0 0 10px;
    width: auto;
    height: 30px;
    list-style: none;
    white-space: nowrap
}

#divTags ul li a, .tags-cloud a {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 0 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 #ccc;
    color: #333;
    vertical-align: top;
    font-size: 14px;
    line-height: 30px
}

#divTags ul li a:hover, .tags-cloud a:hover {
    color: #fa6567;
    text-decoration: none
}

.tag-count {
    display: none
}

#divAuthors li, #divComments li, #divFavorites li, #divLinkage li, #divPrevious li {
    overflow: hidden;
    height: 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 45px
}

#divStatistics .sidecon li {
    background: 0 0;
    color: #333;
    list-style: none
}

.friendlink {
    clear: both;
    padding: 30px 30px 20px;
    background: #fff;
    font-size: 0;
    zoom: 1
}

.friendlink:after {
    clear: both;
    display: block;
    content: ""
}

.friendlink h3 {
    float: left;
    display: inline;
    color: #999;
    font-size: 16px;
    line-height: 20px
}

.friendlink ul {
    padding-left: 90px;
    line-height: 22px
}

.friendlink ul li {
    margin: 0 10px 10px 0;
    padding: 0 10px
}

.friendlink ul li, .friendlink ul li a {
    display: inline-block;
    vertical-align: top
}

.friendlink ul li a {
    color: #333;
    font-size: 14px
}

.friendlink ul li a:hover {
    color: #fa6567
}

.footer {
    padding: 0 0 10px;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 12px
}

.footnav {
    padding-top: 15px
}

.footnav li {
    display: inline;
    margin-left: -1px;
    padding: 0 10px 0 12px;
    border-left: 1px solid #ddd
}

.footnav li.noline {
    border: 0
}

.footnav a {
    color: #999;
    font-size: 12px
}

.footnav a:hover {
    color: #fa6567
}

.copyright {
    padding-top: 10px;
    color: #bbb;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px
}

.copyright a {
    color: #bbb;
    font-size: 12px
}

.copyright a:hover {
    color: #fa6567
}

.footlink {
    position: relative
}

.goback {
    padding: 10px 30px;
    border-radius: 2px;
    background: #fa6567;
    color: #fff;
    text-align: center;
    font-size: 16px
}

.goback:hover {
    background: #33baff;
    color: #fff;
    text-decoration: none
}

a.backtotop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 20;
    overflow: hidden;
    margin-left: 550px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background: rgba(10, 10, 10, .2);
    text-align: center;
    line-height: 45px;
    opacity: .8;
    cursor: pointer
}

a.backtotop i:after {
    color: #fff;
    content: "\e603";
    font-size: 32px;
    font-family: iconfont
}

a.backtotop:hover {
    background: #fa6567
}

@media screen and (max-width: 1400px) {
    .wrap {
        width: 1180px
    }

    .focus {
        width: 100%
    }

    .itemone .itemlist {
        overflow: hidden;
        width: 860px;
        max-height: 470px
    }

    .itemtwo .itemlist {
        overflow: hidden;
        width: 860px;
        max-height: 720px
    }

    .content {
        width: 840px
    }

    .playbox #a1, .playbox .player {
        width: 860px
    }

    .playbox .player.fixed {
        margin-left: 270px
    }

    .playlist {
        height: 484px
    }

    .articlename h1 {
        font-size: 22px
    }

    .articleinfo span {
        font-size: 12px
    }

    .articleinfo .icoviews {
        display: none
    }

    .ias_loader, .ias_trigger {
        margin: 0 0 20px 2%
    }

    .related {
        margin-left: -2%
    }

    .related li {
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0 0 2% 2%;
        width: 31.33%;
        vertical-align: top
    }

    a.backtotop {
        right: 10px;
        bottom: 30px;
        left: auto;
        margin: auto;
        width: 36px;
        height: 36px;
        line-height: 36px
    }

    a.backtotop i:after {
        font-size: 26px
    }
}

@media screen and (max-width: 1180px) {
    .wrap {
        width: 960px
    }

    .menu, .sublogo {
        display: none
    }

    .menu {
        float: left;
        margin: 0;
        width: 100%;
        height: auto;
        border-top: 1px solid #111
    }

    .menu ul {
        padding-right: 0;
        width: 100%;
        border-left: 0
    }

    .menu ul li {
        padding: 0;
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #111;
        color: #ddd;
        line-height: 40px
    }

    .menu ul li:before {
        display: none
    }

    .menu ul li a {
        display: block;
        padding: 0 18px;
        border: 0;
        color: #333;
        font-size: 16px
    }

    .menu ul li.subcate:hover .subnav {
        display: none
    }

    .menu ul li.subcate > a:after {
        position: absolute;
        top: 0;
        right: 15px;
        margin-left: 10px;
        color: #333;
        content: "\e69b";
        font-weight: 600;
        font-size: 16px;
        font-family: iconfont
    }

    .menu ul li.subcate.slidedown > a:after {
        color: #fa6567;
        content: "\e6a4"
    }

    .menu ul li.subcate.slidedown .subnav {
        position: static;
        display: block;
        margin-bottom: -1px;
        padding: 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        background: #fafafa;
        box-shadow: none;
        line-height: 40px;
        -webkit-animation: fadeInUp 0s ease 0s both;
        -moz-animation: fadeInUp 0s 0s ease both
    }

    .menu ul li.subcate.slidedown .subnav:after, .menu ul li.subcate.slidedown .subnav:before {
        display: none
    }

    .menu ul li.subcate.slidedown .subnav a {
        padding: 0 18px
    }

    .menu.on {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%
    }

    .menuico {
        top: 21px;
        float: none;
        display: inline-block;
        vertical-align: top
    }

    .sch {
        width: 300px
    }

    .schico:after {
        color: #fa6567
    }

    .itemone .itemlist, .itemtwo .itemlist, .playbox #a1, .playbox .player {
        width: 640px
    }

    .playbox .player.fixed {
        margin-left: 160px
    }

    .playlist {
        height: 360px
    }

    .playlist .itemtopimg {
        width: 80px
    }

    .playlist .itemtopinfo {
        padding-left: 90px
    }

    .content {
        width: 620px
    }

    .catecon li {
        width: 19%
    }
}

@media screen and (max-width: 960px) {
    .wrap {
        width: 740px
    }

    .head, .logo {
        height: 60px
    }

    .logo img {
        max-height: 40px
    }

    .quick {
        display: none
    }

    .menuico {
        top: 12px
    }

    .sch {
        float: right;
        display: inline;
        display: none;
        margin-top: 10px;
        padding-left: 0
    }

    .schfixed {
        position: absolute;
        top: 60px;
        left: 0;
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
        width: 100%
    }

    .schfixed:after, .schfixed:before {
        right: 36px
    }

    .schfixed form {
        position: relative
    }

    .schfixed input {
        padding: 0 2%;
        width: 76%
    }

    .schfixed button {
        position: absolute;
        top: 0;
        right: 0;
        width: 20%
    }

    .sch.on, .schico {
        display: block
    }

    .sch.on {
        background: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .08)
    }

    .itemone .itemlist {
        width: 420px
    }

    .itemone .itemlist li.itemfirst {
        display: none
    }

    .itemtwo .itemlist {
        width: 420px
    }

    .del, .edit {
        display: none
    }

    .content {
        float: none;
        width: 100%
    }

    .catecon ul {
        margin-left: -2%
    }

    .catecon li {
        margin: 0 0 2% 2%;
        width: 23%
    }

    .playbox #a1, .playbox .player {
        width: 100%
    }

    .playbox .player.fixed {
        position: relative
    }

    .playlist {
        height: auto;
        max-height: 410px
    }

    .playlist, .sidebar {
        width: 100%
    }

    .sidebar.hide {
        display: none
    }

    a.backtolist {
        float: none;
        display: block;
        margin-bottom: 20px;
        padding: 3px 0;
        width: 99%;
        text-align: center
    }

    .friendlink {
        padding: 25px;
        width: auto
    }

    .friendlink h3 {
        float: none;
        display: inline-block;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 20px
    }

    .friendlink ul {
        margin-left: -15px;
        padding: 0;
        line-height: 18px
    }

    .friendlink ul li {
        margin: 0;
        padding: 0;
        line-height: 22px
    }

    .friendlink ul li a {
        margin: 0 0 5px 15px
    }

    .foot {
        padding: 30px 0 10px
    }

    .foot ul {
        margin-left: 0
    }

    .foot li {
        margin: 0 0 20px;
        width: 100%
    }

    .foot .wechat .footdetail {
        text-align: center
    }
}

@media screen and (max-width: 740px) {
    .wrap {
        padding: 0 1%;
        width: 98%;
        padding-top: 44px;
    }

    .menu ul li:after {
        display: none
    }

    .main {
        padding: 10px 0
    }

    .focus {
        margin-bottom: 0
    }

    .itemone .itemlist {
        width: 100%;
        max-height: none
    }

    .itemone .itemlist ul {
        margin-left: -2%
    }

    .itemone .itemlist li {
        margin: 0 0 2% 2%;
        width: 48%
    }

    .itemone .itemlist li.itemfirst {
        display: none
    }

    .itemtwo .itemlist {
        width: 100%;
        max-height: none
    }

    .itemtwo .itemlist ul {
        margin-left: -2%
    }

    .itemtwo .itemlist li {
        margin-left: 2%;
        width: 48%
    }

    .item {
        margin-bottom: 0;
        padding: 10px
    }

    .itemtop {
        display: none
    }

    .itemtitle {
        margin-bottom: 10px;
        font-size: 20px
    }

    .itemtitle:before {
        top: 5px;
        height: 18px
    }

    .itemtitle a {
        font-size: 20px
    }

    .catetitle {
        margin-bottom: 10px
    }

    .catetitle:before {
        top: 5px;
        height: 18px
    }

    .catetitle h3 {
        font-size: 20px
    }

    .catecon ul {
        margin-left: -2%
    }

    .catecon li {
        margin: 0 0 2% 2%;
        width: 48%
    }

    .cateinfo span {
        margin-right: 10px
    }

    .categoryimg {
        display: none
    }

    .categorymobileimg {
        display: block
    }

    .playtop, .sidebox, .singlebox {
        padding: 15px
    }

    .playshare, .sidebox, .singlebox {
        margin-bottom: 10px
    }

    .playtop {
        padding-bottom: 5px
    }

    .playtitle {
        line-height: 1.5
    }

    .playtop {
        display: none
    }

    .episodeslist {
        margin: 15px 15px 0
    }

    .episodeslist h1 {
        margin-bottom: 5px
    }

    .playscroll dl {
        padding: 0 15px 5px
    }

    .playlisttitle {
        line-height: 28px
    }

    .playlisttitle h3 {
        padding: 0 15px;
        font-size: 14px
    }

    .playlist ul {
        margin: 5px 0
    }

    .playlist li {
        padding: 8px 15px
    }

    .articlename {
        margin: 0
    }

    .articleinfo {
        padding-bottom: 10px
    }

    .articlecon, .articleinfo {
        margin-bottom: 10px
    }

    .paging {
        overflow: hidden;
        margin: 20px 0;
        padding: 20px 0 0;
        border-top: 1px solid #eee
    }

    .paging .prepage {
        float: none;
        margin: 0 0 20px;
        width: 100%
    }

    .paging .nextpage {
        float: none;
        width: 100%;
        text-align: left
    }

    .paging p {
        margin-top: 10px
    }

    .paging p a {
        overflow: hidden;
        color: #333;
        text-overflow: ellipsis;
        white-space: inherit;
        font-size: 16px;
        line-height: 20px
    }

    .related {
        margin-left: -2%;
        font-size: 0
    }

    .related li {
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0 0 2% 2%;
        width: 48%;
        vertical-align: top
    }

    .relatedinfo {
        line-height: 22px
    }

    .relatedinfo h3 {
        font-size: 16px
    }

    .relatedinfo p {
        color: #999;
        font-size: 14px
    }

    .errorpage {
        width: auto
    }

    .errorpage .errorschtxt {
        float: none;
        width: 60%
    }

    .friendlink {
        display: none;
        padding: 10px 15px
    }

    .friendlink h3 {
        margin: 10px 0 5px;
        font-size: 16px
    }

    .copyright {
        font-size: 12px
    }
}